.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:200px;
  height: 150px;
}
.button-div{
  display:block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
body{
  margin-bottom: 20px;
}