body{
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 50px;
}
.title-div{
  height: 50px;
  background-color: rgb(0,0,0,0.15);
  overflow: hidden;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
.amazon-affiliate-img{
  height: 50px;
  margin:0;
  mix-blend-mode: multiply;
  flex: auto;
  margin-left: 5px;
}
.search-bar{
  height: 30px;
  padding-left: 10px;
  min-width: 10px;
  max-width: 500px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  flex: 500px;
  transition: box-shadow 
}
.search-bar:hover{
  box-shadow: 4px 4px 16px rgba(0,0,0,0.8);
}
.back-to-home{
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  background-color: black;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.layer-1{
  padding-left: 10%;
  display: grid;
  padding-right: 10%;
  place-items: center;
}
@media (min-width: 1251px){
  .layer-1{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1250px){
  .layer-1{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1100px){
  .layer-1{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px){
  .layer-1{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 390px){
  .layer-1{
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.all{
  margin-top: 30px;
  height: 400px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: box-shadow 0.2s;
  justify-content: center;
  align-items: center;
}
.all:hover{
  box-shadow: 4px 4px 16px rgb(0,0,0,0.5);
}
.img-div{
  flex:3;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 10px;
  height: 240px;
}
.title{
  flex: 2;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  overflow: hidden;
  grid-template-rows: 30px 80px 30px;
  
}
.company-name,
.company-product,
.price{
  margin-top: 0 ;
  margin-bottom: 0;
  transition: color 0.15s;
}
.img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.company-name{
  font-weight: bold;
  text-decoration: none; 
  color:black;
  margin-bottom: 10px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color:black;
  display: inline-block;
}
.company-product{
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 18px;
}
.price{
  font-size: 25px;
  vertical-align: top;

}
.rupee-sign{
  font-size: 12px;
  vertical-align: top;
}
.company-name:hover,
.company-product:hover,
.price:hover{
  color: orange
}
